this is products file 
<br>
product list is <br>
<ul>
    <hr>
    <% products.forEach((e)=>{ %>
        <li> <%= e.name %> </li>
        <li> <%= e.color %> </li>
        <li> <%= e.size %> </li>
        <li> <%= e.category %> </li>
        <hr>
    <% })  %>
</ul>